.App {
  text-align: center;
  background-color: #ffffff;
}

/*.c11 {
  float: left;
}
.c12 {
  float: left;
}
.c13 {
  float: left;
}
.c14 {
  float: left;
}
.c15 {
  float: left;
}
.c16 {
  float: left;
}
.c17 {
  float: left;
}
.c18 {
  float: left;
}
.c19 {
  float: left;
}
.c110 {
  float: left;
}*/

